/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #00abd9; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  outline: none;
}

.user-panel {
  background-color: #00abd9;
  transition: .6s;
  color: #fff;
}

.user_profile_circle {
  transition: .6s;
  background-color: #fff;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #446ffb;
  margin: 10px 80px;
}

.menu-list {
  overflow-y: auto;
  height: calc(100vh - 202px);
  background-color: #01102e;
}

.menu-list span>a {
  border-left: 3px solid transparent;
  padding: 15px 5px 15px 15px;
  display: block;
  line-height: .9;
}

i.menu-icons img {
  width: 12px;
  height: auto;
  padding-right: 10px;
}

a {
  cursor: pointer;
  color: white;
}

a:hover {
  background-color: #111;
}

.nav-dropdown {
  display: none;
  background-color: #333D41;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #8aa4af;
  border: 0;
  padding: 7px 5px 7px 15px;
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
}

.role-name {
  margin-left: 60px;
  cursor: pointer;
}

.role-name i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 40px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
}

ul li {
  list-style: none;
}

li {
  display: list-item;
  text-align: left;
  cursor: pointer;
  line-height: 1.5;
}

.info .active {
  padding: 8px;
  width: 160px;
  color: black;
  border-bottom: 1px solid grey;
}

.info .active1 {
  padding: 6px;
  width: 160px;
  margin-top: 2px;
  color: black;
  border-bottom: 1px solid grey;
}

.info .active2 {
  padding: 4px;
  width: 138px;
  margin-top: 10px;
  color: black;
}

.info .dropdown1 {
  min-width: 160px;
  padding: 5px 10px;
  margin: 6px 20px 0;
  position: absolute;
  background: white;
  display: none;
  cursor: pointer;
}

.info .info .triangle-with-shadow {
  width: 100px;
  height: 75px;
  right: -30px;
  position: absolute;
  top: -75px;
  overflow: hidden;
  pointer-events: none;
}

.info .triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 55px;
  background: white;
  transform: rotate(45deg);
  top: 75px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
}

.info .down {
  transform: rotate(45deg);
}
